<h3>Propiedades input en Angular4</h3>
<componente-hijo [propiedad_uno]="dato_externo" [texto]="identity" (desde_el_hijo)="recibirDatos($event)">
</componente-hijo>

<div *ngIf="datos_del_hijo">
    <h1>{{datos_del_hijo.nombre}}</h1>
</div>

<hr/>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4>{{titulo}}</h4>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
    <button (click)="cambiar(false)">Cambiar</button>
    <strong style="background:yellow;">Eres el administrador de la webapp</strong>
</ng-template>

<ng-template #noAdmin>
    <button (click)="cambiar(true)">Cambiar</button>
    <strong style="background:red;color:white;">NO ERES EL administrador de la webapp</strong>
</ng-template>